#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		session:
			expiration: 14 days

		debugger:
			#email:

	services:
		Texy:
			class: MyTexy(@httpRequest)
		Texy2:
			class: MyTexy(@httpRequest)

		authenticator: Uzivatele

		aktualizaceDB: AktualizaceDB
		ankety: Ankety
		bodoveTabulky: BodoveTabulky
		body: body
		clanky: Clanky
		clankyKategorie: ClankyKategorie
		diskuze: Diskuze
		druzstva: Druzstva
		facebookUzivatele: FacebookUzivatele
		fotky: Fotky
		funkceRady: FunkceRady
		galerie: Galerie
		kategorieSouteze: KategorieSouteze
		kategorie: Kategorie
		komentare: Komentare
		mista: Mista
		nastaveni: Nastaveni
		okresy: Okresy
		pollie: OndrejBrejla\Pollie\ModelImpl
		pravidla: Pravidla
		rocniky: Rocniky
		sablonyClanku: SablonyClanku
		sledovani: Sledovani
		soubory: Soubory
		soutezeRocniku: SoutezeRocniku
		sbory: Sbory
		souteze: Souteze
		souvisejici: Souvisejici
		sportoviste: Sportoviste
		startovniPoradi: StartovniPoradi
		stranky: Stranky
		temata: Temata
		terce: Terce
		typySboru: TypySboru
		typyTercu: TypyTercu
		ucasti: Ucasti
		urls: Urls
		uzivatele: Uzivatele
		videa: Videa
		vysledky: Vysledky
		zavody: Zavody
		zavodResource: ZavodResource(@zavody)

	factories:

development < common:

production < common:
